// /* latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Nunito-Light'), url(../fonts/Nunito-Light.ttf) format('truetype');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// /* latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Nunito-Regular'), url(../fonts/Nunito-Regular.ttf) format('truetype');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// /* latin */
// @font-face {
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Nunito-Bold'), url(../fonts/Nunito-Bold.ttf) format('truetype');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,600italic,600,800italic,800);